[http]
  proxy = 
[color]
  ui = true
[user]
  name = el que m'est
  email = elquemista@gmail.com
  signingkey = 6704E8BDDF3EF19FCA74A4AC1C508DD224A52384
[push]
  default = simple
[commit]
  gpgsign = false
[core]
  excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
