[http]
  proxy = 
[color]
  ui = true
[user]
  name = el que m'est
  email = elquemista@gmail.com
  signingkey = F2139F77A807D452C2BD612BF58906EC009D05AD
[push]
  default = simple
[commit]
  gpgsign = false
[core]
  excludesfile = ~/.gitignore_global
